.home-header {
  display: flex;
  justify-content: space-around;
  header {
    display: flex;
  }

  &-avatar {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &-nickname {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3c3265;
  }
  &-addFriend {
    padding: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    border: 0.1rem groove #b196df;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #3c3265ed;
    font-weight: 500;
    &:hover {
      opacity: 0.8;
    }
  }
}
