.videoPanel {
  video {
    border-radius: 10px;
    height: 16rem;
    width: 22rem;
  }
  &-footer {
    display: flex;
    justify-content: center;
  }
  &-caller {
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    &-text {
      margin-bottom: 1rem;
    }
  }
}
