@ColorDeepPurple: #4b4176;
@bgColor: #5143886b;

.home {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(#91bbff, #3b1756);

  &-container {
    width: 85vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #3c3265;
    border-radius: 1rem;
    box-shadow: 5px 10px 20px;
    // overflow: hidden;
    //ipad
    @media screen and (min-width: 720px) and(max-width:1080px) {
      grid-template-columns: 35%, 65%;
    }
  }

  &-logout {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1.5rem;
    color: #3b1756;
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}
