.chat-list {
  max-height: 85vh;
  overflow-y: auto;
  color: #fff;
  &-search {
    input {
      border: none;
      margin-top: 0.5rem;
      caret-color: #fff;
      color: #fff;
      background: transparent;
    }
  }

  &-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #3c3265ed;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 4px;
    img {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .nickname {
      font-size: 1rem;
      font-weight: 600;
    }

    &:hover,
    &-active {
      background-color: #5143886b;
    }
  }

  &::-webkit-scrollbar {
    width: 0.2rem;
    &-thumb {
      border-radius: 0.1rem;
      background-color: #5143886b;
    }
  }
}
